.col-lg-12 {
  grid-column: span 12;
}

.col-lg-11 {
  grid-column: span 11;
}

.col-lg-10 {
  grid-column: span 10;
}

.col-lg-9 {
  grid-column: span 9;
}

.col-lg-8 {
  grid-column: span 8;
}

.col-lg-7 {
  grid-column: span 7;
}

.col-lg-6 {
  grid-column: span 6;
}

.col-lg-5 {
  grid-column: span 5;
}

.col-lg-4 {
  grid-column: span 4;
}

.col-lg-3 {
  grid-column: span 3;
}

.col-lg-2 {
  grid-column: span 2;
}

.col-lg-1 {
  grid-column: span 1;
}

.central {
  width: 1180px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

.central-800 {
  width: 800px;
}

.central-6 {
  width: 600px;
}

.central-600 {
  width: 800px;
  border-radius: 2rem;
  padding: 0;
}

.w125 {
  width: 100% !important;
}

div#pjax-container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.central{
  width: 100%;
}

.img_list img{
  height: 20rem!important;
}

.Width_limit_20rem{
  padding: 0 20rem;
}

.Width_limit_10rem{
  padding: 0 10rem;
}
.bg-img .middle{
  padding: 7rem 5rem 7rem;
}

.header-wrap{
  height: 5rem;
  z-index: 9999;
}

/* div#homePage{
  width: 70%;
} */


.toggleBar{
  display: none;
}

.pointList .point{
  width: 40px;
  height: 7px;
}

.bg-img .middle img {
  width: 13rem;
  height: 13rem;
}
.sm-x-block{
  display: none;
}

.lg_20rem{
  padding: 0 20rem;
}
.leva_sm_x{
  display: none;
}

.div_marb_7rem{
  margin-bottom: 2rem!important;
}

.gallery{
  padding: 0rem 10rem;
  box-sizing: border-box;
}

img.lazy.img_img{
  width: 350px!important;
}
img.lazy.img_img.col-lg-4.col-md-4.col-sm-4.col-sm-x-4{
  width: 100%!important;
}

#show_mes{
  padding: 0 20rem;
}
.Width_limit_10rem.leav{
  padding: 0 20rem;
}

.content_a ul li{
  text-align: center;
}

.img_list .lovelist_img{
  width: 350px!important;
  height: 100%!important;
}

.card.leav_from {
    padding: 0 10rem;
}

.central-600{
  width: 700px;
}

.mian_music{
  width: 400px!important;
  margin: 1.5rem 0!important;
}

.central .little_texts .info{
  padding-left: 1.8rem!important;
}

.little_texts .file img{
  width: 50%;
  display: block;
  margin: 1.5rem auto;
}

div#homePage{
  width: 70%;
  border-radius: 1.3rem;
}

div#homePage ul.list.mask_black,div#homePage ul.list.mask_black li.item,ul.mask_black::before{
  border-radius: 1.3rem;
}

div#homePage[data-Fullscreen]{
  width: 100%;
  height: 800px;
  margin-top: 0;
  border-radius: 0;
}

div#homePage[data-Fullscreen] ul.list.mask_black,div#homePage[data-Fullscreen] ul.list.mask_black li.item,div#homePage[data-Fullscreen] ul.mask_black::before{
  border-radius: 0;
}

div#homePage[data-Fullscreen] .bg-wrap.central.limg{
  width: 80%;
  transform: translate(-50%,-50%);
  left: 50%;
}

.wrap[data-Fullscreen]{
  position: relative;
}

.wrap[data-Fullscreen] .waves {
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 10rem;
  margin-bottom: -15px;
  /* 修复 Safari 等浏览器下方空隙 */
}
.wrap[data-Fullscreen] .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.wrap[data-Fullscreen] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.wrap[data-Fullscreen] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.wrap[data-Fullscreen] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.wrap[data-Fullscreen] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.wrap[data-Fullscreen] .pointList{
  bottom: 85px;
}