.article_list .content_a {
    background: #ffffff66;
    color: #787878;
    box-shadow: 3px 4px 10px #fdfdfde8;
    border: 1px solid #fff;
}

.article_list .title_a {
    text-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.article_list .article_list_head .aiv {
    border: 1px solid #fff;
}

.time_card {
    background: #a67cff;
    color: #fff;
    padding: 2rem;
    border-radius: 0.4rem;
    font-family: 'Noto Serif SC', serif;
    font-weight: 700;
}

.time_card:nth-child(6n+1) {
    background: #fc5d79;
}

.time_card:nth-child(6n+2) {
    background: #79a8ff;
}

.time_card:nth-child(6n+3) {
    background: #49d4a2;
}

.time_card:nth-child(6n+4) {
    background: #ffa87c;
}

.time_card:nth-child(6n+5) {
    background: #03a9f4;
}

.time_card:nth-child(6n+6) {
    background: #46cfbf;
}


.time_card .day_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time_card .day_cont .day_title {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.time_card .day_cont .time_m {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.time_card .day_cont .time_m .format {
    margin-top: 0.6rem;
    font-size: 1.1rem;
}

.day_cont .left_info {
    display: flex;
}

.day_cont .left_info .icon-fabiaowenzhang {
    font-size: 20px;
    margin-right: 0.2rem;
}

.xf_city {
    font-size: 1rem;
    color: #8799a3;
    background: #e7ebed;
    padding: 0.1rem 0.5rem;
    border-radius: 0.4rem;
    font-weight: 400
}