.card {
    position: relative;
}

div#pjax-container {
    width: 100%;
}

div#mask .close {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

div#mask .close svg {
    width: 3rem;
    height: 3rem;
}

.card::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fd6458;
    box-shadow: 20px 0 0 #ffbf2b, 40px 0 0 #24cc3d;
    position: absolute;
    left: 0rem;
    top: -2.5rem;
}

.central.central-800.bg .avatar {
    width: 3em;
    height: 3em;
    border-radius: 0.8rem;
    box-shadow: 0 2px 8px #bdb7b759;
    border: 2px solid #fff;
    margin-right: 0.8rem;
}

.mesly {
    font-size: 2rem;
    background: #535353;
    padding: 0.8rem;
    margin-left: 1rem;
    border-radius: 1rem;
    color: #fff;
    position: fixed;
    right: 1rem;
    bottom: 12rem;
    z-index: 100;
    box-shadow: 0 3px 10px #bdb7b78c;
    border: 1px solid #fff;
}

#show_mes {
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10002;
}

.card::before {
    box-shadow: none;
    background-color: transparent;
}

div#mask {
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    background: #ffffff73;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10001;
    top: 0;
    display: none;
}

span.iconfont.icon-liuyan {
    font-size: 3rem;
    display: block;
    text-align: right;
    color: #f18ba0;
}

.nub_con {
    color: #ffffff;
    font-size: 1.7rem;
    margin: 0 0.5rem;
    /* text-shadow: 0 2px 2px rgb(0 0 0 / 25%); */
}

.lyips {
    background-image: linear-gradient(90deg, #6cedca 0%, #7a7bff 100%);
    padding: 1.8rem 1rem;
}

.leav_list .content_a {
    background: #f5f5f5;
}

.toast-title {
    font-size: 1.3rem;
    font-family: 'Noto Serif SC', serif;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.toast-message {
    line-height: 1.4rem;
}

.central.bg {
    background: none;
    border-radius: 2rem;
    padding: 0rem 2rem;
    box-shadow: none;
    border: none !important;
}



.leav_card {
    background: #fff;
    margin: 1rem 0;
    border-radius: 0.8rem;
    box-shadow: 0 8px 12px #ebedf0;
    border: 1px solid rgba(208, 206, 206, 0.4) !important;
    transition: all 0.3s linear !important;
    cursor: pointer;
}

.leav_card:hover {
    transform: translateY(-1.6rem);
}

.leav_card .bg_leav {
    height: 18rem;
    width: 100%;
    background-image: url(https://q1.qlogo.cn/g?b=qq&nk=3439780232&s=640);
    background-size: cover;
    border-radius: 0.8rem 0.8rem 0 0;
    position: relative;
}

.leav_card .bg_leav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #48484869;
    background: #53535357;
    border-radius: 0.8rem 0.8rem 0 0;
}

.leav_card .aiv_qq {
    position: relative;
    padding: 2rem 0;
    padding-bottom: 0.5rem;
}

.leav_card .aiv_qq img {
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    border: 2px solid #fff;
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);;
}

.leav_card .row_flex_leav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.leav_card .row_flex_leav .name_leav {
    margin-bottom: 1rem;
    font-family: 'Noto Serif SC', serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #6b6b6b;
}

.leav_card .row_flex_leav .leav_text {
    font-family: 'Noto Serif SC', serif;
    font-weight: 400;
    margin-top: 1rem;
    color: #7f7f7f;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #f5f5f5;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    word-break: break-all;
    width: 96%;
    position: relative;
}

.leav_card .row_flex_leav .leav_text::before {
    content: '';
    width: 0px;
    height: 0px;
    border: 20px solid;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f5f5f5;
    border-top: 20px solid transparent;
    position: absolute;
    top: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.leav_card .row_flex_leav .leav_footer .leav_city,
.leav_card .row_flex_leav .leav_footer .leav_time {
    color: #1cbbb4;
    font-family: 'Noto Serif SC', serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    background-color: #d2f1f0;
}

.leav_card .row_flex_leav .leav_footer .leav_city span,
.leav_card .row_flex_leav .leav_footer .leav_time span {
    margin-right: 0.3rem
}

.leav_card .row_flex_leav .leav_footer .leav_time {
    background: #fff0e6;
    color: #ff6600;
}

.leav_card .leav_footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1.5rem 0;
    font-family: 'Noto Serif SC', serif;
    font-weight: 400;
}