.col-md-12 {
  grid-column: span 12;
}
.col-md-11 {
  grid-column: span 11;
}
.col-md-10 {
  grid-column: span 10;
}
.col-md-9 {
  grid-column: span 9;
}
.col-md-8 {
  grid-column: span 8;
}
.col-md-7 {
  grid-column: span 7;
}
.col-md-6 {
  grid-column: span 6;
}
.col-md-5 {
  grid-column: span 5;
}
.col-md-4 {
  grid-column: span 4;
}
.col-md-3 {
  grid-column: span 3;
}
.col-md-2 {
  grid-column: span 2;
}
.col-md-1 {
  grid-column: span 1;
}
.central {
  width: 830px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

.header-wrap{
  height: 5rem;
  z-index: 9999;
}

.toggleBar{
  display: none;
}

div#homePage{
  width: 90%;
}

.Width_limit_10rem {
  padding: 0 10rem;
}
.pointList .point{
  width: 30px;
  height: 6px;
}
.Width_limit_10rem {
  padding: 0 3rem;
}
.sm-x-block{
  display: none;
}
.leva_sm_x{
  display: none;
}
.img_list img{
  height: 15rem!important;
}
