@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1679221353360') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
    content: "\e614";
}

.icon-wancheng-copy:before {
    content: "\e62f";
}

.icon-wancheng:before {
    content: "\e654";
}

.icon-wenzhangguanli:before {
    content: "\e67c";
}

.icon-home-page:before {
    content: "\e63e";
}

.icon-liebiao1:before {
    content: "\e65e";
}

.icon-wenzhang-copy:before {
    content: "\e643";
}

.icon-liuyan:before {
    content: "\e606";
}

.icon-liebiao2:before {
    content: "\e603";
}

.icon-boshiweb_liuyan:before {
    content: "\e633";
}

.icon-diqu:before {
    content: "\e65b";
}

.icon-tukuxiangce:before {
    content: "\e60b";
}

.icon-chakan:before {
    content: "\e60c";
}

.icon-dizhi:before {
    content: "\e628";
}

.icon-fabiaowenzhang:before {
    content: "\e648";
}

.icon-weibiaoti--:before {
    content: "\e60f";
}

.icon-mima:before {
    content: "\e613";
}

.icon-dizhi1:before {
    content: "\e604";
}

.icon-tishi:before {
    content: "\e718";
}

.icon-zhuye:before {
    content: "\e650";
}

.icon-chakan1:before {
    content: "\e630";
}

.icon-mima1:before {
    content: "\e680";
}

.icon-tishi1:before {
    content: "\e652";
}

.icon-16:before {
    content: "\e615";
}

.icon-guanyuwomen:before {
    content: "\e69a";
}

.icon-liuyanban-05:before {
    content: "\e631";
}

.icon-liuyan1:before {
    content: "\e6a8";
}

.icon-mima2:before {
    content: "\e620";
}

.icon-liuya:before {
    content: "\e60e";
}

.icon-tongzhi:before {
    content: "\e53e";
}

.icon-shijian:before {
    content: "\e89d";
}

.icon-xiangce:before {
    content: "\e89f";
}

.icon-liuyan2:before {
    content: "\fb56";
}

.icon-mima3:before {
    content: "\e611";
}

.icon-a-wenzhang1x:before {
    content: "\e608";
}

.icon-liuyanban:before {
    content: "\ed60";
}

.icon-tishi2:before {
    content: "\e610";
}

